<%= simple_form_for [ @restaurant, @review ] do |f| %>
<%= f.input :content %>
<%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>
<br>
<br>
<%= link_to restaurants_path do %>
  <h5> Back to Home Page </h5>
<% end %>